<p id="notice"><%= notice %></p>

<p>
  <strong>Staff:</strong>
  <%= @assignment_log.staff %>
</p>

<%= link_to 'Edit', edit_assignment_log_path(@assignment_log) %> |
<%= link_to 'Back', assignment_logs_path %>
